<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <!-- logo -->
        <a class="navbar-brand" routerLink="/home"><img style="width: 50px;"
                src="../../../assets/images/icons8-instagram.svg" alt="Insta Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex flex-row justify-content-between" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item fs-6">
                    <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item fs-6">
                    <a class="nav-link" routerLink="/home/addpost" routerLinkActive="active">Add Post</a>
                </li>
                <li class="nav-item fs-6">
                    <a class="nav-link" [routerLink]="['/home/viewprofile/',user?._id]" routerLinkActive="active">View
                        Profile</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <!-- <li class="nav-item me-5 d-flex align-items-center">
                    <fa-icon (click)="toggleVoiceReco()" [icon]="isRunning ? faMicrophone : faMicrophoneSlash"
                        class="fs-4 text-white">
                    </fa-icon>
                </li> -->
                <li class="nav-item me-5 d-flex align-items-center">
                    <button style="background: none; border: none;"><svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 448 512" width="30" height="45" fill="white">
                            <path
                                d="M439.39 362.29c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71zM67.53 368c21.22-27.97 44.42-74.33 44.53-159.42 0-.2-.06-.38-.06-.58 0-61.86 50.14-112 112-112s112 50.14 112 112c0 .2-.06.38-.06.58.11 85.1 23.31 131.46 44.53 159.42H67.53zM224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64z" />
                        </svg></button>
                </li>
                <li class="nav-item fs-5 fw-bolder">
                    <a class="nav-link text-danger" routerLink="/login" (click)="onLogout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>