.loading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.loading .lines {
  margin: 3px;
  width: 5px;
  height: 0;
  background-color: #444;
  animation: loadkey 0.5s linear infinite alternate;
}
.loading .l2 {
  animation-delay: 0.1s;
}
.loading .l3 {
  animation-delay: 0.2s;
}
.loading .l4 {
  animation-delay: 0.3s;
}
.loading .l5 {
  animation-delay: 0.4s;
}
@keyframes loadkey {
  0% {
    height: 0;
  }
  100% {
    height: 60px;
  }
}
